html, body {
    background-color:lightskyblue;
    display:flex;
    flex-direction:row;
    margin:0;
    padding:0;

    min-width:100%;
    min-height:100%;
}

#left-sidebar {
    display:flex;
    width: 40%;
    height: 100%;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.425) 0%, rgb(0, 0, 0) 100%), url('images/shibuya.jpg') no-repeat;
    color:white;
    align-items:flex-end;
    justify-content: center;
}

#logo-bundle {
    position:absolute;
    
}

#right-side {
    display:flex;
    flex-direction:column;
    background-color:rgb(145, 150, 152);
    width:70%;
    height:100%;
}

#top-right {
    background-color:#2d2d2f;
    width: 100%;
    height:35%;
}

#mid-right  {
    background-color:rgb(44, 44, 41);
    width:100%;
    height:30%;
}

#bot-right {
    background-color:#2d2d2f;
    width:100%;
    height:35%;
}