@font-face {
    font-family: 'Coolvetica';
    src: url('Coolvetica-Regular.woff2') format('woff2'),
        url('Coolvetica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blacklisted';
    src: url('Blacklisted.woff2') format('woff2'),
        url('Blacklisted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

